*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 60vh;
    background:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:3% 5%;
    text-align: center;
}
nav img{
    width: 140px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
.nav-link ul li::after{
    content: "";
    width: 0;
    height:2px ;
    display: block;
    margin: auto;
    background: transparent;
    transition: .5s ease-out;
}
.nav-link ul li:hover::after{
    width: 100%;
    background: #ff4436;
}
.nav-link ul li a{
    text-decoration: none;
    color:#fff;
}
.text-box{
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top:50%;
}
.text-box h2{
    color:#fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
    padding-top:20px ;
}
nav .fa{
    display: none;
    
}
@media(max-width:700px){
    .nav-link{
        width: 100px;
        height: 60vh;
        background: #ff4436;
        z-index: 2;
        right: 0;
        top: 0;
        visibility:hidden;
        position: absolute;
    }
    nav .fa{
        display: block;
        text-align: left;
        margin: 5px 8px;
        font-size: 19px;
    }
    .nav-link ul li{
        display: block;  
        margin: 15px 8px; 
    }
    .nav-link ul li a {
        font-size: 13px;
    }
    .text-box{
        margin-top: 20px;
    }
    .text-box h2{
        font-size: 17px;
        
    }
}
/*---finish header blog page ---*/
/*blog*/
.blog{
    width: 80%;
    padding:60px 0;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.blog-left-col{
    flex-basis: 65%;
}
.blog-left-col img{
    width:100%;
    border-radius: 5px;
    box-shadow: 5px 5px 14px #777 ;
}
.blog-left-col h2{
    margin:30px 0 30px 0;
}
.blog-left-col p{
    color:#999;
    padding: 0;
}
.blog-right-col{
    flex-basis: 32%;
}
.blog-right-col h3{
    border: 1px solid #fff ;
    background: #ff4436;
    color:#fff;
    text-align: center;
    padding: 7px 0;
    margin-bottom: 20px;
}
.blog-right-col div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-top: 25px;
    box-sizing: border-box;
    color:#555;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 65px 0;
    padding: 10px 20px;

}
.comment-box h3{
    color: #999;
    text-align: left;
}
.comment-input input ,.comment-input textarea{
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: none;
    width: 100%;
    background:#b0a5a5;
}
.btn-comment{
    border: 1px solid #ccc;
    background: #ff4436 ;
    padding:7px 4px;
    border-radius: 4px;
    color:#fff;
    margin-top: 10px;
    cursor: pointer;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
.footer{
    width:100%;
    text-align: center;
    margin: 100px 0;
}
.footer h4{
    margin: 20px;
}
.footer p{
    color: #777;
    margin: 40px 0;
}
.icon .fa{
    color:#f44336;
    margin: 0 20px;
}
.footer .fa{
    color:#f44336;
}