*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    width: 100%;
    height: 80vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
}
nav img{
    width:150px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    display:inline-block;
    list-style: none;
    position: relative;
    padding:8px 12px;
}
.nav-link ul li a{
    text-decoration: none;
    color:#fff;
}

.nav-link ul li::after{
    content:"";
    width: 0;
    height: 2px;
    display: block;
    transition: .5s ease-in;
    margin: auto;
    background: transparent;
}
.nav-link ul li:hover::after{
    width: 100%;
    background: #f44336;
}
.nav-text{
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    position: absolute;
    margin:90px auto;
}   
.nav-text h2{
    font-size: 35px;
    font-weight: 700;
    color:#fff;
}
nav .fa{
    display:none;
}
@media(max-width:700px){
    .nav-link{
        z-index: 2;
        width: 150px;
        height: 80vh;
        background: #f44336;
        right: 0;
        top:0;
        position: absolute;
        transition: .3s ease;
        visibility: hidden;
    }
    .nav-link ul li{
        display: block;
        margin-top:25px;
        margin-right:18px;
    }
    nav .fa{
        display: block;
        text-align: left;
        margin: 9px 4px ;
        font-size: 28px;
    }
}
/*finish the header style */
/*---location ---*/
.location{
    width: 80%;
    margin:auto;
    padding:80px 0;
}
.location iframe{
    width: 100%; 
}
/*---finish location---*/
.contactUs{
    width: 80%;
    margin: auto;
    text-align: center;
    padding:50px 0;
}
.row{
    display: flex;
    justify-content: space-between;
    margin:5%
}
.contact-col{
    
}
/*---footer---*/
.footer{
    width:100%;
    text-align: center;
    margin: 100px 0;
}
.footer h4{
    margin: 20px;
}
.footer p{
    color: #777;
    margin: 40px 0;
}
.icon .fa{
    color:#f44336;
    margin: 0 20px;
}
.footer .fa{
    color:#f44336;
}