*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/banner.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
}
nav{
    display: flex;
    justify-content: space-between;
    padding:2% 6%;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-link{
    flex:1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display:inline-block;
    padding:8px 12px;
    position:relative;
}
.nav-link ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 15px;
}
.nav-link ul li::after{
    content: "";
    width:0%;
    height:2px;
    background: #f44336;
    display:block;
    margin: auto;
    transition: 0.5s ease-in;
}
.nav-link ul li:hover::after{
    width:100%;
}
.textBox{
    width:90%;
    color:#fff;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.textBox h1{
    font-size: 60px;
}
.textBox p{
    margin:20px 0 50px;
    font-size: 17px;
}
.textBox a{
    display: inline-block;
    position: relative;
    border:1px solid #fff;
    padding:10px 30px;
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    background:transparent;
    transition: 0.8s linear;
}
.textBox a:hover{
    border:1px solid #f44336;
    background: #f44336;
}
nav .fa{
    display: none;
}
@media(max-width:700px){
    .textBox h1{
        font-size: 20px;
    }
    .textBox p{
        font-size: 12px;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link {
        background: #f44336;
        width: 200px;
        position:absolute;
        right: -200px;
        top:0;
        text-align: left;
        height: 100vh;
        z-index: 2;
        transition: 0.8s linear;
    }
    nav .fa{
        display: block;
        font-size: 22px;
        cursor: pointer;
        color:#fff;
        margin:5px 9px;
    }
}
/*finish the header style */
            /*course*/
.course{
    text-align: center;
    padding-top: 100px;
    margin:auto;
    width: 80%;
}
.course h1{
    font-size: 2.5em;
    font-weight: 600;
}
.course p{
    color:#777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.clo{
    background:#f4d1d1;
    border-radius:10px;
    flex-basis: 31%;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition: 0.5s ease;
}
.clo h3{
    margin: 10px 0;
    font-weight: 600;
}
.clo:hover{
    box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.55);
    cursor: copy;
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*---finish course*/
/*----campus----*/
.campus{
    text-align: center;
    width: 80%;
    margin: auto;
    padding:40px 12px;
}
.campus p{
    color:#777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.campCol{
    flex-basis: 32%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-top: 25px;
}
.campCol img{
    width: 100%;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    top:0;
    position: absolute;
    left:0;
    background: transparent;
    transition: 0.5s ease;
}
.layer:hover{
    background:rgba(4,9,30,0.7);
}
.layer h3{
    width: 100%;
    bottom: 0;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: .5s linear;
    color:#fff;
    font-size: 24px;
    opacity: 0;
}
.layer:hover h3 {
    bottom:50%;
    left:50%;
    opacity: 1;
}
/*---finish campus---*/
/* ---facilities---*/
.facilities{
    text-align: center;
    margin: auto;
    padding-top:20px;
    width: 80%;
}
.facilities p{
    color:#777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding:10px;
}
.facilitiesCol{
    flex-basis: 31%;
    overflow: hidden;
    border-radius: 15px;   
    margin-top: 20px;
}
.facilitiesCol img{
    width: 100%;
    border-radius: 10px;
}
.facilitiesCol h3{
    text-align: left;
    margin: 15px 10px ;
    font-size: 23px;
}
.facilitiesCol p{
    text-align: left;
    color: #777;
    
}
/*---finish facilities---*/
/*---testimonials---*/
.testimonials{
    width: 80%;
    text-align: center;
    margin: auto;
    padding-top:20px;
}
.testimonials p{
    color: #777;
}
