*{
    margin: 0;
    padding:0 ;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 2% 6%;
    text-align: center;
}
nav img{
    width: 145px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 15px;
    position: relative;

}
.nav-link ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 17px;
}
.nav-link ul li::after{
    content:"";
    width: 0;
    height: 2px;
    display: block;
    margin: auto;    
    transition:.5s ease-in;
    background: transparent;
    background: #f44336;
}
.nav-link ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.text_box{
    width: 80%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
.text_box h2{
    color: #fff;
    font-size: 44px;
}
@media(max-width:700px){
    body{
        margin: 0;
        padding:0;
    }
    .nav-link{
        width: 100px;
        background: #f44336;
        position:absolute;
        right: 0;
        visibility:hidden;
        top: 0;
        text-align: left;
        height: 90vh;
        border-radius: 2px;
        z-index: 2;
    }
    .nav-link ul li{
        display: block;
        margin-right: 5px;
        margin-top: 15px;
    }
    .nav-link ul li a{
        font-size: 14px;
    }
    nav .fa{
        display: block;
        margin: 5px 9px;
        font-size: 22px;
    }
}
/*---finish header---*/
/*---course---*/
.course{
    width: 80%;
    margin-top:20px;
    padding-top: 100px;
    position: relative;
    text-align: center;
    margin: auto;
}
.course h2{
    margin-bottom: 30px;
    font-size: 37px;
}
.course p{
    color:#777;
}
.row{
    display: flex;
    position: relative;
    margin-top: 50px;
    margin-bottom: 40px;
}
.course-col{
    flex-basis: 30%;
    margin: auto 10px;
    background: #ffa7a1eb;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px #777;
    border-radius: 5px;
    cursor: pointer;
}
.course-col h3{
    margin-top: 12px;
    font-size:22px;
}
.course-col p {
    text-align:center;
    padding:10px;
}
@media(max-width:700px){
    .row{
        flex-direction: column;

    }
    .course-col{
        margin-top: 25px;
    }
}
/*---finish course ---*/
/*---facilities---*/
.facilities{
    width: 80%;
    text-align: center;
    padding-top:100px;
    margin: 10px  auto ;
    padding-top:30px;
}
.facilities h2{
    margin-top: 20px;
    
}
.facilitiesCol{
    cursor:pointer;
    flex-basis: 31%;
    margin: auto 15px;
    border-radius: 5px;
    text-align: left;
}
.facilitiesCol p{
    color:#777;
    margin: 15px 0;
}
.facilitiesCol img{
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 24px;
}
/*---finish facilities ---*/
/*---  footer   ---*/
.footer{
    width:80%;
    text-align: center;
    margin: auto;
    padding-top: 80px;
}
.footer h4{
    font-size:14px;
}
.footer p{
    font-size:small;
    margin-bottom: 20px;
}
.icon{
    color:#f44336;

}
.icon .fa{
    margin:25px 15px;
    cursor: pointer;
}