*{
    margin: 0;
    padding:0 ;
    font-family: 'Poppins', sans-serif;
}
.header{
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    width: 100%;
    min-height: 80vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content:space-between;
    padding: 2% 6%;
    text-align: center;
}
nav img{
    width: 145px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    margin: 5px 15px;
    position: relative;

}
.nav-link ul li a{
    text-decoration: none;
    color:#fff;
    font-size: 17px;
}
.nav-link ul li::after{
    content:"";
    width: 0;
    height: 2px;
    display: block;
    margin: auto;    
    transition:.5s ease-in;
    background: transparent;
    background: #f44336;
}
.nav-link ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}
.text_box{
    width: 80%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
}
.text_box h2{
    color: #fff;
    font-size: 24px;
}
@media(max-width:700px){
    body{
        margin: 0;
        padding:0;
    }
    .nav-link{
        width: 100px;
        background: #f44336;
        position:absolute;
        right: 0;
        visibility:hidden;
        top: 0;
        text-align: left;
        height: 90vh;
        border-radius: 2px;
    }
    .nav-link ul li{
        display: block;
        margin-right: 5px;
        margin-top: 15px;
    }
    .nav-link ul li a{
        font-size: 14px;
    }
    nav .fa{
        display: block;
        margin: 5px 9px;
        font-size: 22px;
    }
}
.course{
    width: 80%;
    padding-top: 100px;
    position: relative;
    text-align: center;
    margin: auto;
}